<div class="room-name-header">
</div>

<div class="chat">
  <div class="message">
    <div class="message-data">
      <h1 class="user-name">Tom</h1>
      <p class="message-date">2020/3/31(Wed) 12:43:30</p>
    </div>
    <div class="message-text">
      <p class="text">おはよう</p>
    </div>
  </div>
  <div class="message">
    <div class="message-data">
      <h1 class="user-name">Tom</h1>
      <p class="message-date">2020/3/31(Wed) 12:43:30</p>
    </div>
    <div class="message-text">
      <p class="text">こんばんは</p>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-text" type="text" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-send" type="submit" value="送信">
</div>