<div class="rooms-edit-header">
</div>

<div class="rooms">
  <div class="room-name">
    <a href="#">gorup 1</a>
  </div>
  <div class="room-name">
    <a href="#">gorup 2</a>
  </div>
  <div class="room-create">
    <a href="#">グループを作成</a>
  </div>
</div>